/* Guardar la página web del Trabajo práctico N° 1, con el nombre "index.html" dentro de una carpeta con el nombre "tp2".
- Agregar en la web una hoja de estilo externa (con un link) llamada estilos.css dentro de una carpeta css.
- Crear la subcarpeta llamada "css" para el estilo.
- Crear el archivo de estilos css para la primer parte con el nombre "estilos.css"

El árbol de directorios debería quedar de la siguiente forma:
.
./tp2/
./tp2/index.html
./tp2/css
./tp2/css/estilos.css

Luego agregar el contenido necesario a la hoja de estilo de la primera parte, sin modificar la página html, para cumplir lo siguiente:

Los párrafos deberán tener una fuente sans serif, de 8 pixeles de alto, con un color azul y fondo gris. Los títulos deberán 
tener un color de frente 
negro y 14 px de alto. El titulo principal deberá tener negritas y los secundarios itálica. */
h1{
    font-weight: bold;
    color: black;
    font-size: 14px;
}
h2{
    font-size: italic;
    color: black;
    font-size: 14px;
}
p{
    font: sans-serif;
    font-size: 8px;
    color: blue;
    background-color: gray;
}